<% provide(:title, '主页') %>
 
<% if logged_in? %>
    <div  class="quick-actions_homepage">
          <ul class="quick-actions">
                  <li class="bg_lb"> <a href="/packageorders"> <i class="icon-dashboard"></i> 包团订单</a> </li>
                  <li class="bg_lg"> <a href="/fitorders"> <i class="icon-shopping-cart"></i> 散客订单</a> </li>
                  <li class="bg_ly"> <a href="/linelists"> <i class=" icon-globe"></i>旅游线路</a> </li>
                  <li class="bg_lo"> <a href="/planetickets"> <i class="icon-group"></i> 飞机票订单</a> </li>
                  <li class="bg_ls"> <a href="/traintickets"> <i class="icon-signal"></i> 火车票订单</a> </li>
          </ul>
    </div>

    <div class="container-fluid">
          <div class="row-fluid">
                  <div class="span6">Span1</div>
                  <div class="span6">Span2</div>
                  <hr>
          </div>
          <div class="row-fluid">
                  <div class="span12">Span3</div>
          </div>
    </div>

<% else %>

      <body class="navbar-trans full-height hero hero-home">
    
          <div id="loginbox">  
              <div class="control-group normal_text"> 
                  <h2 style="color: #787878;font-size:34px;">亿游信息管理系统</h2>
                  <span style="font-size:14px;color:gray;">版权所有 亿游在线 2015-2016</span>
              </div>          
                  <% flash.each do |key, value| %>
                      <div class="alert alert-<%= key %>"><%= value %></div>
                  <% end %>

              <%= form_for(:session, url: login_path, id: "loginform", class: "form-vertical" ) do |f| %>
                              <div class="control-group">
                                  <label class="control-label" style="color: #787878;">登陆账号</label>
                                  <div class="controls">
                                    <div class="main_input_box">
                                      <span class="add-on bg_lg">
                                        <i class="icon-user" style="font-size:16px;">
                                        </i>
                                      </span>
                                        <%= f.text_field :name, placeholder: "帐号", style: "background: transparent;" %>
                                    </div>
                                  </div>
                              <div>

                              <div class="control-group2">
                                <label class="control-label" style="color: #787878;">登陆密码</label>
                                <div class="controls">
                                    <div class="main_input_box">
                                    <span class="add-on bg_ly"><i class="icon-lock" style="font-size:16px;"></i></span>
                                      <%= f.password_field :password, placeholder: "密码", style: "background: transparent;" %>
                                 </div>
                              </div>
                             </div>
                                 <%= f.label :remember_me, class: "checkbox inline" do %>
                                   <%= f.check_box :remember_me %>
                                  <span style="color: #787878;">自动登录</span>
                                 <% end %>

                                 <span class="pull-right">
                                  <%= f.submit " 登        录", class: "btn btn-primary", style: "width:335px; background-color: #63B8FF;", id: "checkBtn" %>
                                 </span>
                              <div class="control-group normal_text">
                                <div style="font-size:14px;color:gray;">推荐使用webkit内核浏览器，如chrome等</div>
                              </div>
              <% end %>

          </div>
      

        
          
          <script src="/assets/jquery.min.js"></script>  
          <script src="/assets/matrix.login.js"></script> 
<% end %>