<p id="notice"><%= notice %></p>

<h1>Listing Ticketstates</h1>

<table>
  <thead>
    <tr>
      <th>Stateinfo</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticketstates.each do |ticketstate| %>
      <tr>
        <td><%= ticketstate.stateinfo %></td>
        <td><%= ticketstate.start_time %></td>
        <td><%= link_to 'Show', ticketstate %></td>
        <td><%= link_to 'Edit', edit_ticketstate_path(ticketstate) %></td>
        <td><%= link_to 'Destroy', ticketstate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticketstate', new_ticketstate_path %>
