<% provide(:title, "新增散客订单") %>
<h1>订单信息</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
		<%= form_for(Fitorder.new) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :group_number, "团号" %>
		   	<%= f.text_field :group_number, placeholder: "请输入团号。。" %>

		   	<%= f.label :outdate, "出发日期" %>
		    <%= f.date_field :outdate %>

		    <%= f.label :returndate, "地接日期" %>
		    <%= f.date_field :returndate %>

		    <%= f.label :bookinfo, "订购方" %>
		   	<%= f.text_field :bookinfo, placeholder: "请输入订购方名称。。" %>

		   	<%= f.label :info, "出团通知" %>
		   	<%= f.text_field :info, placeholder: "请输入出团通知。。" %>

		   	<%= f.label :person_list, "客人名单|人数" %>
		   	<%= f.text_field :person_list, placeholder: "请输入客人名单和人数。。" %>

		   	<%= f.label :comeinfo, "接" %>
		   	<%= f.select(:comeinfo, [['飞机', 4], ['火车', 3], ['汽车', 2], ['轮船', 1]]) %>
		   	<%= f.text_field :comeinfo, placeholder: "出发城市-到达城市。。。" %>

		   	<%= f.label :goinfo, "送" %>
		   	<%= f.select(:goinfo, [['飞机', 4], ['火车', 3], ['汽车', 2], ['轮船', 1]]) %>
		   	<%= f.text_field :goinfo, placeholder: "出发城市-到达城市。。。" %>

		   	<%= f.label :price1, "收客价|地接价|西藏报价|结算价" %>
		   	<%= f.number_field(:price1, in: 0.0..1000000.0, step: 1.0 ) %>
		   	<%= f.number_field(:price2, in: 0.0..1000000.0, step: 1.0 ) %>
		   	<%= f.number_field(:price3, in: 0.0..1000000.0, step: 1.0 ) %>
		   	<%= f.number_field(:price4, in: 0.0..1000000.0, step: 1.0 ) %>

		   	<%= f.label :customers_info, "客人信息" %>
		   	<%= f.text_field :customers_info, placeholder: "请输入客人信息。。" %>

		   	<%= f.label :tip, "备注" %>
		   	<%= f.text_field :tip, placeholder: "备注。。" %>

		   	<%= f.label :cost, "当前已收款" %>
		   	<%= f.number_field(:price4, in: 0.0..1000000.0, step: 1.0 ) %>

		   	<%= f.label :status, "状态" %>
		   	<%= f.select(:status, [['确认', true], ['不', false ]) %>
			
			<%= f.submit "保存", data: { confirm: "确定？" }, class: "btn btn-primary" %>
			<%= link_to "退出", fitorders_path, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
