<!DOCTYPE html>
<html>
<head>

  
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/jsbn.js"></script>
	<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/prng4.js"></script>
	<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/rng.js"></script>
	<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/rsa.js"></script>
	<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/base64.js"></script>
    <script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/m.js"></script>
    <script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
    <script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/jquery-migrate-1.2.1.js"></script>

    <title>忆游假期在线CMS | <%= yield(:title) %></title>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<script charset="UTF-8" type="text/javascript">var webContext = {"base": "", "resourcesbase": "application", "success": "SUCCESS", "error": "ERROR"};</script>

	<script charset="UTF-8" type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
	<script charset="UTF-8" type="text/javascript" src="/assets/jquery.easyui.min.js"></script>
	<script charset="UTF-8" type="text/javascript" src="/assets/jquery-migrate-1.2.1.js"></script>
	<script charset="UTF-8" type="text/javascript" src="/assets/handlebars-1.0.0.beta.6.js"></script> 
	<script charset="UTF-8" type="text/javascript" src="/assets/jquery.uploadify.js"></script>
	<script charset="UTF-8" type="text/javascript" src="/assets/handlebars-1.0.0.beta.6.js"></script>
	<script charset="UTF-8" type="text/javascript" src="/assets/functions.js"></script> 
	<script id="dialog-message" type="text/x-handlebars-template">
	   <div class="body box-b"> 
         <div class="icon">
     
           </div>
         <div class="context">
      
           </div> <br>
         <div class="option">
    
           </div>
        </div>
    </script>
</head>
  <body>
	<div class="dialog-mark_content">
           <a class="dialog-mark_close" title="关闭"> </a>
           <div class="dialog-mark_content_cen" style="height:450px;overflow:auto;">
            </div>
           <div id="dialog-mark_content_opt">
            </div> 
    </div>
    <div class="dialog-mark_overlay">
    </div>


	<%= render 'layouts/nav' %>
    
	<%= yield %>
    
	
	<%= render 'layouts/footer' %>
<!--	<%= debug(params) if Rails.env.development? %> -->
</body>
</html>
