<!DOCTYPE html>
<html lang="zh">
<head>

    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'Globe.ico' %>

    <% if logged_in? %>

        <title>忆游假期在线CMS | <%= yield(:title) %></title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
<!--        <link rel="stylesheet" href="/assets/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/assets/matrix-style.css" />
        <link rel="stylesheet" href="/assets/fullcalendar.css" />
        <link rel="stylesheet" href="/assets/jquery.gritter.css" />
        <link rel="stylesheet" href="/assets/matrix-media.css" />-->
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href='/assets/font.css' rel='stylesheet' type='text/css'>

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <% else %>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/assets/matrix-login.css" />
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
        <style type="text/css">
            input{
                font-family: "Microsoft Yahei";
            }
            .control-label{
                color: #B2DFEE;
                padding-left: 4px;
            }
        </style>

        <title>忆游假期在线CMS | <%= yield(:title) %></title>

    <% end %>

</head>

  
<% if logged_in? %> 
   <body>


    <div id="header">
      <h1><a href="#">信息管理系统平台</a></h1>
    </div>


    <%= render 'layouts/header' %>
    <!-- end of header part -->   

    <%= render 'layouts/sidebar' %>

    <!-- end of sidebar-menu -->

    <div id="content">
            <!--breadcrumbs-->
            <div id="content-header">
                    <div id="breadcrumb"> 
                        <a href="/" title="主页" class="tip-bottom">
                            <i class="icon-home"></i> 
                            主页
                        </a>
                    </div>
            </div>
            <!--End-breadcrumbs-->
            <!--<iframe src="index2.html" id="iframe-main" frameborder='0' style="width:100%;"></iframe>-->


            </div>
            <div id="iframe-main" frameborder='0' style="width:100%;">
                    <div id="content2">
                        <%= yield %>
                    </div>
            </div>
    </div> 

    <!--<%= render 'layouts/footer' %>-->
            <script src="/assets/excanvas.min.js"></script> 
            <script src="/assets/jquery.min.js"></script> 
            <script src="/assets/jquery.ui.custom.js"></script> 
            <script src="/assets/bootstrap.min.js"></script> 
            <script src="/assets/bootstrap-datepicker.js"></script>            
            <script src="/assets/jquery.nicescroll.min.js"></script> 
            <script src="/assets/matrix.js"></script>
            <script src="/assets/jquery.flot.min.js"></script> 
            <script src="/assets/jquery.flot.resize.min.js"></script> 
            <script src="/assets/jquery.peity.min.js"></script> 
            <script src="/assets/jquery.gritter.min.js"></script> 
            <script src="/assets/jquery.toggle.buttons.html"></script> 
            <script src="/assets/masked.js"></script>
            <script src="/assets/matrix.form_common.js"></script> 
            <script src="/assets/wysihtml5-0.3.0.js"></script>            
            <script src="/assets/fullcalendar.min.js"></script> 
            <script src="/assets/matrix.calendar.js"></script> 
            <script src="/assets/matrix.chat.js"></script> 
            <script src="/assets/jquery.validate.js"></script> 
            <script src="/assets/matrix.form_validation.js"></script> 
            <script src="/assets/jquery.wizard.js"></script> 
            <script src="/assets/jquery.uniform.js"></script> 
            <script src="/assets/select2.min.js"></script> 
            <script src="/assets/matrix.popover.js"></script> 
            <script src="/assets/jquery.dataTables.min.js"></script> 
            <script src="/assets/matrix.tables.js"></script> 
            <script src="/assets/matrix.interface.js"></script>
            <script src="/assets/bootstrap-wysihtml5.js"></script>    
    <script type="text/javascript">
        //初始化相关元素高度
        function init(){
            $("body").height($(window).height()-80);
            $("#iframe-main").height($(window).height()-90);
            $("#sidebar").height($(window).height()-50);
        }

        $(function(){
            init();
            $(window).resize(function(){
                init();
            });
        });

        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage (newURL) {
            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {
                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-" ) {
                    resetMenu();            
                } 
                // else, send page to designated URL            
                else {  
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }

        // uniform使用示例：
        // $.uniform.update($(this).attr("checked", true));
    </script>

<% else %> 
	
    <%= yield %>

<% end %>

</body>
</html>

